table {
    text-align: left;
    border-spacing: 0px;
    td {
        padding: 5px 10px 5px 0px;
        &.cell-destination {
            font-weight: bold;
        }
        &.departed {
            font-style: italic;
        }
        &.all-aboard, &.now-boarding {
            font-weight: bold;
        }
    }
    th {
        padding: 5px 10px 5px 0px;
        font-size: 18px;
    }
    tr:nth-child(odd) {
        background-color: #EEE;
    }
}
